<template>
  <div>
    <v-container class="ma-0 pa-0" gird-list-sm>
      <div class="text-right">
        <v-btn small text to="/campaigns" class="blue--text">
          All campaign <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-layout wrap>
        <v-flex
          v-for="campaign in campaigns"
          :key="'campaign' + campaign.id"
          xs6
        >
          <campaign-item :campaign="campaign" />
        </v-flex>
      </v-layout>
    </v-container>
    <!-- tampilan blog -->
    <v-container class="ma-0 pa-0" gird-list-sm>
      <div class="text-right">
        <v-btn small text to="/blogs" class="blue--text">
          All Blog <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-layout wrap>
        <v-carousel cycle height="250" hide-delimiters show-arrows-on-hover>
          <v-carousel-item v-for="blog in blogs" :key="'blog- ' + blog.id">
            <v-img :src="blog.image" height="100%">
              <v-row class="fill-height" align="center" justify="center">
                <div class="display-3 pa-6" align="center">
                  {{ blog.title }} Slide
                </div>
              </v-row>
            </v-img>
          </v-carousel-item>
        </v-carousel>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import campaign from "./campaign.vue";
export default {
  components: { campaign },
  data: () => ({
    campaigns: [],
    blogs: [],
  }),
  components: {
    CampaignItem: () => import("../components/CampaignItem"),
  },
  created() {
    axios
      .get("api/campaign/random/2")
      .then((response) => {
        let { data } = response.data;
        this.campaigns = data.campaigns;
        console.log("Data Mounting");
      })
      .catch((eror) => {
        let { response } = eror;
        console.log(response);
      });
    axios
      .get("api/blog/random/2")
      .then((response) => {
        let { data } = response.data;
        this.blogs = data.blogs;
      })
      .catch((error) => {
        let { response } = error;
        console.log(responses);
      });
  },
};
</script>
